@import play.mvc.Http.Request
@(users: List[User], deleteForm: Form[BoardDeleteForm], createForm: Form[BoardCreateForm])(implicit request: Request,
messages:
play.i18n.Messages)

@main("なんでも実況ZTO") {
<div class="wraper">
    <div class="d-flex justify-content-center" style="width: 100%; height: 100px;">
        <h1 class="align-self-center">掲示板</h1>
    </div>

    @request.flash.asScala().data.map { case (name, value) =>
    <div class="container d-flex alert alert-info w-75">
        <div class="@name">@value</div>
    </div>
    }
    @if(!users.isEmpty){
    <div class="container bg-light shadow-sm p-3 mb-5 rounded">
        <table class="container">
            @for(u <- users) { <thead>
                <tr>
                    <th>name:@u.getName() id:@u.getId()</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex justify-content-between">
                        <td style="word-break: break-all;">@u.getText()</td>
                        <td style="width: 70px;"><a href="@routes.FormController.fixForm(u.getId())">修正する</a></td>
                    </tr>
                    }
                </tbody>
        </table>
    </div>
    }
@if(users.isEmpty){
    <div class="container d-flex justify-content-center">
} else {
    <div class="container d-flex justify-content-between">
}
        <div class="shadow-sm p-3 mb-5 bg-white rounded w-50">
            <div class="w-50">
                <h3 class="bg-info text-light d-flex justify-content-center w-25">投稿</h3>
            </div>
            @if(createForm.hasGlobalErrors) {
            @createForm.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
            }
            }
            @helper.form(routes.FormController.create()) {
            @helper.CSRF.formField
            <div class="form-group">
                @helper.inputText(createForm("name"),Symbol("class") -> "form-control w-75", Symbol("id") ->
                "exampleInputEmail1")
            </div>
            <div class="form-group">
                @helper.textarea(createForm("text"),Symbol("class") -> "form-control w-75", Symbol("id") ->
                "exampleInputEmail1")
            </div>

            <button type="submit" class="btn btn-primary">送信</button>
            }
        </div>

        @if(!users.isEmpty) {
        @helper.form(routes.FormController.delete()) {
        @helper.CSRF.formField
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="border border-light">
                <h3 class="bg-info text-light w-25 d-flex justify-content-center">削除</h3>
                <div class="form-group">
                    @helper.inputText(deleteForm("id"),Symbol("class") -> "form-control w-25", Symbol("id") ->
                    "exampleInputEmail1")
                </div>
                <button type="submit" class="btn btn-primary">送信</button>
            </div>
        </div>
        }
        }

    </div>
</div>
}