@import play.mvc.Http.Request
@(users: List[User], updateForm: Form[UpdateForm])(implicit request: Request, messages: play.i18n.Messages)

@main("なんでも実況j") {
    <h1>修正</h1>

    <table>
        @for(u <- users) {
            <tr>
                <td>@u.id</td>
                <td>@u.name</td>
                <td>@u.text</td>
            </tr>
        }
    </table>

@helper.form(routes.FormController.update) {
@helper.CSRF.formField

@helper.inputText(updateForm("name"))

@helper.inputText(updateForm("text"))

<button type="submit">修正</button>
}
}